<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="abstractDao" abstract="true">
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	<bean id="smartBoxDao" class="com.peanutbox.dao.impl.SmartBoxDaoImpl"
		parent="abstractDao" />
	<bean id="smartBoxCellDao" class="com.peanutbox.dao.impl.SmartBoxCellDaoImpl"
		parent="abstractDao" />
	<bean id="serviceOrderDao" class="com.peanutbox.dao.impl.ServiceOrderDaoImpl"
		parent="abstractDao" />
	<bean id="sysUserDao" class="com.peanutbox.dao.impl.SysUserDaoImpl"
		parent="abstractDao" />
</beans>