<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="exchangeService" class="com.peanutbox.service.impl.ExchangeServiceImpl" />
	<bean id="smartBoxService" class="com.peanutbox.service.impl.D_SmartBoxServiceImpl">
		<property name="smartBoxDao" ref="smartBoxDao"></property>
	</bean>
	<bean id="smartBoxCellService" class="com.peanutbox.service.impl.D_SmartBoxCellServiceImpl">
		<property name="smartBoxCellDao" ref="smartBoxCellDao"></property>
	</bean>
	<bean id="sellerOperationService" class="com.peanutbox.service.impl.B_SellerOperationServiceImpl">
		<property name="smartBoxCellService" ref="smartBoxCellService"></property>
		<property name="serviceOrderService" ref="serviceOrderService"></property>
		<property name="sysUserService" ref="sysUserService"></property>

	</bean>
	<bean id="buyerOperationService" class="com.peanutbox.service.impl.B_BuyerOperationServiceImpl">
		<property name="sysUserService" ref="sysUserService"></property>
		<property name="serviceOrderService" ref="serviceOrderService"></property>
		<property name="smartBoxCellService" ref="smartBoxCellService"></property>
	</bean>
	<bean id="serviceOrderService" class="com.peanutbox.service.impl.D_ServiceOrderServiceImpl">
		<property name="serviceOrderDao" ref="serviceOrderDao"></property>
	</bean>
	<bean id="sysUserService" class="com.peanutbox.service.impl.D_SysUserServiceImpl">
		<property name="sysUserDao" ref="sysUserDao"></property>
	</bean>
</beans>