<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peanutbox.bean.ServiceOrder">

	<insert id="insert" parameterType="ServiceOrder" useGeneratedKeys="true"
		keyProperty="serviceOrderId">
		insert into SERVICE_ORDER ( SMART_BOX_CELL_ID,
		FROM_USER_ID,
		TO_USER_ID,
		TO_USER_PHONE,
		ORDER_STATUS,
		ORDER_CODE,
		ORDER_DESCRIPTION,
		VERIFY_CODE,
		CREATE_TIME,
		FINISH_TIME)
		values
		(#{smartBoxCellId},#{fromUserId},#{toUserId},#{toUserPhone},#{orderStatus},#{orderCode},#{orderDescription},#{verifyCode},sysdate(),sysdate())
	</insert>
	<select id="selectSysUserServiceOrder"  parameterType="SysUser" resultMap="serviceOrderResultMap">
		select * from ServiceOrder so where so.TO_USER_ID = #{sysUserId}
	</select>
	<select id="selectServiceOrderByUserAccount"  parameterType="string" resultMap="serviceOrderVOResultMap">
		select so.*,sb.SMART_BOX_ADDR,sbc.CELL_POSITION,sbc.CELL_CODE
			 from SERVICE_ORDER so,SMART_BOX sb,SMART_BOX_CELL sbc,SYS_USER su 
			where so.TO_USER_ID=su.SYS_USER_ID 
			and so.SMART_BOX_CELL_ID = sbc.SMART_BOX_CELL_ID 
			and sbc.SMART_BOX_ID = sb.SMART_BOX_ID 
			and su.USER_ACCOUNT = #{userAccount} order by so.CREATE_TIME desc
	</select>
	<update id="updateServiceOrderStatus" parameterType="map">
		update SERVICE_ORDER so set so.ORDER_STATUS=#{orderStatus} where so.SERVICE_ORDER_ID=#{serviceOrderId}
	</update>
	<resultMap id="serviceOrderResultMap" type="ServiceOrder">
		<id property="serviceOrderId" column="SERVICE_ORDER_ID" />
		<result property="smartBoxCellId" column="SMART_BOX_CELL_ID"/>
		<result property="fromUserId" column="FROM_USER_ID"/>
		<result property="toUserId" column="TO_USER_ID"/>
		<result property="toUserPhone" column="TO_USER_PHONE"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="verifyCode" column="VERIFY_CODE"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="finishTime" column="FINISH_TIME"/>
		<result property="orderDescription" column="ORDER_DESCRIPTION"/>
	</resultMap>
	<resultMap id="serviceOrderVOResultMap" type="ServiceOrderVO">
		<id property="serviceOrderId" column="SERVICE_ORDER_ID" />
		<result property="smartBoxCellId" column="SMART_BOX_CELL_ID"/>
		<result property="fromUserId" column="FROM_USER_ID"/>
		<result property="toUserId" column="TO_USER_ID"/>
		<result property="toUserPhone" column="TO_USER_PHONE"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="verifyCode" column="VERIFY_CODE"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="finishTime" column="FINISH_TIME"/>
		<result property="orderDescription" column="ORDER_DESCRIPTION"/>
		<result property="smartBoxAddr" column="SMART_BOX_ADDR"/>
		<result property="cellPosition" column="CELL_POSITION"/>
		<result property="cellCode" column="CELL_CODE"/>
	</resultMap>
</mapper>
