<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peanutbox.bean.SmartBoxCell">

	<select id="selectSmartBoxCellBySmartBoxId" parameterType="long" resultMap="smartBoxCellResultMap">
		select * from SMART_BOX_CELL sbc where sbc.SMART_BOX_ID = #{smartBoxId}
	</select>
	<select id="selectSmartBoxCellById" parameterType="long" resultMap="smartBoxCellResultMap">
		select sbc.*,sb.* from SMART_BOX_CELL sbc,SMART_BOX sb 
		where sbc.SMART_BOX_ID=sb.SMART_BOX_ID 
		and sbc.SMART_BOX_CELL_ID = #{smartBoxCellId}
	</select>
	<update id="updateSmartBoxCellStatus" parameterType="map">
		update SMART_BOX_CELL sbc set sbc.CELL_STATUS=#{cellStatus} where sbc.SMART_BOX_CELL_ID=#{smartBoxCellId}
	</update>
	<resultMap id="smartBoxCellResultMap" type="SmartBoxCell">
		<id property="smartBoxCellId" column="SMART_BOX_CELL_ID" />
		<result property="cellCode" column="CELL_CODE"/>
		<result property="cellPosition" column="CELL_POSITION"/>
		<result property="cellPort" column="CELL_PORT"/>
		<result property="cellStatus" column="CELL_STATUS"/>
		<result property="cellSize" column="CELL_SIZE"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<association property="smartBox" column="SMART_BOX_ID" javaType="SmartBox">
			<id property="smartBoxId" column="SMART_BOX_ID" />
			<result property="smartBoxName" column="SMART_BOX_NAME"/>
			<result property="smartBoxCode" column="SMART_BOX_CODE"/>
			<result property="smartBoxVersion" column="SMART_BOX_VERSION"/>
			<result property="smartBoxStatus" column="SMART_BOX_STATUS"/>
			<result property="smartBoxUrl" column="SMART_BOX_URL"/>
			<result property="smartBoxAddr" column="SMART_BOX_ADDR"/>
			<result property="updateTime" column="UPDATE_TIME"/>
			<result property="description" column="DESCRIPTION"/>
		</association>
	</resultMap>
</mapper>
