@charset "utf-8";
/* CSS Document */
body {background: #f5f5f5;}


.menpiao_header {
    width: 100%;/*12.42rem;*/
    height: 1.35rem;
    background-color: #7BCFA6;
}

.menpiao_header .back {
    float: left;
    display: block;
    width: 2%;
    height: 30%;
    margin: 3.5% 0 3% 3%;
    background: url(../images/icon/back.png) no-repeat;
    background-size: 100% 100%;
}

.main_title {
    text-align: center;
    font-family: 'Heiti SC', 'Microsoft YaHei';
    font-size: 0.6rem;
    color: white;
    float: left;
    height: 60%;
    width: 74%;
    margin-top: 1.5%;
    padding-left: 10%;
}
.account {
    float: left;
    display: block;
    width: 7%;
    height: 60%;
    margin: 1% 2% 2% 0;
    border-radius: 0.1rem;
}
.account_image {
    width: 100%;
    height: 100%;
}
  .clear {
        clear: both;
    }
 .divide {
        background: #B0B0B0;
        /*改变现代浏览器下线条色*/
        color: #ddd;
        /*改变ＩＥ浏览器下线条色，最好和Background-color设置一样的色*/
        /*clear: both;!*可以用来清除浮动*!*/
        /*float: none;!*取消浮动，可以不设置*!*/
        width: 96%;
        /*显式定义宽度*/
        height: 1px;
        /*改变部分浏览器下的默认高度*/
        line-height: 1px;
        /*保证ＩＥ下高度效果一致，不留白色空白区*/
        font-size: 0;
        /*设置为0，以确保IE6下不留空白区*/
        border: none 0;
        /*取消默认边框，以背景和高度代替边框效果*/
        /*margin: 0 0 1.4em;*/
    }
.menu {
    width: 100%;
    height: 3rem;
    margin: 1% 1% 1% 2%;
    background-color: inherit;
}

.pic {
    float: left;
    width: 23%;
    height: 90%;
    margin: 2% 3% 2% 0;
}

.pic img {
    width: 100%;
    height: 100%;
}


.wor {
	font-family: 'Heiti SC', 'Microsoft YaHei';
    float: left;
    width: 65%;
    height: 100%;
	margin-top:2%;
    text-align:  left;
}
.nam{
	font-size:0.5rem;
	color: #35a66f;
	height:25%;	
	}
.int{
	font-size:0.35rem;
	width:100%;
	color:#333;
	height:45%;
	overflow:hidden;
	}
.pri{
	font-size:0.5rem;
	color: #ef6d3b;
	height:25%;	
	}
.btn-right{
	float:left;
    display: block;
    width: 3%;
    height: 15%;
	margin: 10% 2%;
    background: url(../images/icon/btn_next.png) no-repeat right;
    background-size: 100% 100%;
}


/*首页中的账户页面*/
.account_page {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 100%;
/*    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;*/
    z-index: 1200;
}

/*左侧的空白*/
.account_blank {
	width: 63%;
	height: 100%;
	float: left;
	background-color: black;
	opacity: 0.2;
	filter: alpha(opacity=50);
}

.account_blank1 {
    width: 37%;
    height: 6%;
    float: right;
    background-color: black;
    opacity:0.2;
    filter:alpha(opacity=50);
}

.account_blank2 {
    width: 37%;
    height: 57%;
    float: right;
    background-color: black;
    opacity:0.2;
    filter:alpha(opacity=50);
}

/*右侧的"我的"内容*/
.account_content {
	width: 37%;
	height: 37%;
	float: left;
	background-color: white;
}

/*右侧上方的头像和用户名*/
.account_banner {
	width: 100%;
	height: 23%;
	background-color: #CCCCCC;
}

.account_avatar {
    float: left;
    width: 35%;
    height: 100%;
    text-align: center;
}

.setMiddle {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.account_avatar_image {
    border: 3px solid white;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    /*margin-top: 32%;*/
    /*margin-left: 30%;*/
}

.account_username {
    float: left;
    width: 50%;
    height: 100%;
    display: table;
    text-align: center;
}

.account_username_text {
    font-weight: 350;
    font-size: 0.5rem;
    color: white;
    padding-left: 0.2rem;
    display: table-cell;
    vertical-align: middle;
}

/*右侧下方的信息列表*/
.account_list {
    width: 100%;
    height: 76%;
    margin-top: 0rem;
}

.account_list_li {
    width: 100%;
    height: 1.66rem;
}

.account_list_left {
    width: 37%;
    height: 100%;
/*    margin: auto 0.2rem auto 0.2rem;*/
    float: left;
}

.account_list_order {
    background: url("../images/foot/order.png") no-repeat center;
    background-size: 50% 50%;
}
.account_list_coupon {
    background: url("../images/foot/disco.png") no-repeat center;
    background-size: 50% 50%;
}
.account_list_message {
    background: url("../images/foot/ft_3_3.png") no-repeat center;
    background-size: 60% 60%;
}
.account_list_profile {
    background: url("../images/foot/ft_3_3.png") no-repeat center;
    background-size: 60% 60%;
}
.account_list_help {
    background: url("../images/foot/ft_3_3.png") no-repeat center;
    background-size: 60% 60%;
}
.account_list_setup {
    background: url("../images/foot/infor.png") no-repeat center;
    background-size: 50% 50%;
}
.account_list_aboutUs {
    background: url("../images/foot/ft_3_3.png") no-repeat center;
    background-size: 60% 60%;
}

.account_list_right {
    width: 63%;
    height: 100%;
    display: table;
    float: right;
    text-align: left;
    font-weight: 500;
    font-size: 0.35rem;
    color:black;
}

.account_list_right span {
    display: table-cell;
    vertical-align: middle;
}

.account_content_divider{
	margin-top:0.05rem;
	margin-bottom:0.2rem;
    width: 95%;
    border: inset 0.02rem white;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.account_content_divider1{
	margin-top:0.5rem;
	margin-bottom:0.05rem;
    width: 95%;
    border: inset 0.02rem white;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.account_content_divider2{
	margin-top:0.05rem;
	margin-bottom:0.05rem;
    width: 95%;
    border: inset 0.02rem white;
    opacity:0.5;
    filter:alpha(opacity=50);
}
.version {
	margin-top:0.35rem;
    width: 100%;
    height: 0.35rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.3rem;
    color: gray;
}
