<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="HotelService" class="com.travel.service.impl.HotelServiceImpl">
		<property name="hotelDao" ref="HotelDao"/>
		<property name="hotelDaoSpecial" ref="HotelDao"/>
		<property name="hotelCalendarDao" ref="HotelDao"/>


	</bean>

	<bean id="RouteService" class="com.travel.service.impl.RouteServiceImpl">
		<property name="routeDao" ref= "RouteDao"/>
		<property name="routeCalendarDao" ref= "RouteDao"/>
		<property name="routeDescriptionDao" ref="routeDescriptionDao"/>

	</bean>

	<bean id="TicketService" class="com.travel.service.impl.TicketServiceImpl">
		<property name="TicketDao" ref="TicketDao"/>
	</bean>

	<bean id="RouteOrderService" class="com.travel.service.impl.RouteOrderServiceImpl">
		<property name="routeOrderDao" ref="RouteOrderDao"/>
		<property name="contactDao" ref="ContactDao"/>
	</bean>
	<bean id="HotelOrderService" class="com.travel.service.impl.HotelOrderServiceImpl">
		<property name="hotelOrderDao" ref="HotelOrderDao"/>
	</bean>

	<bean id="SlideBoxService" class="com.travel.service.impl.SlideBoxServiceImpl">
		<property name="SlideBoxDao" ref="SlideBoxDao"/>
	</bean>
	<bean id="UserService" class="com.travel.service.impl.UserServiceImpl">
		<property name="accountDao" ref="AccountDao"/>
		<property name="userDao" ref="UserDao"/>
	</bean>
	<bean id="routeDescriptionService" class="com.travel.service.impl.RouteDescriptionServiceImpl">
		<!--<property name="routeDescription" ref="routeDescription"/>-->
	</bean>
	
</beans>