<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       					http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<!-- <bean id="exchangeService" class="com.peanutbox.service.impl.ExchangeServiceImpl" />
	<bean id="smartBoxService" class="com.peanutbox.service.impl.D_SmartBoxServiceImpl">
		<property name="smartBoxDao" ref="smartBoxDao"></property>
	</bean>
	<bean id="smartBoxCellService" class="com.peanutbox.service.impl.D_SmartBoxCellServiceImpl">
		<property name="smartBoxCellDao" ref="smartBoxCellDao"></property>
	</bean>
	<bean id="sellerOperationService" class="com.peanutbox.service.impl.B_SellerOperationServiceImpl">
		<property name="smartBoxCellService" ref="smartBoxCellService"></property>
		<property name="serviceOrderService" ref="serviceOrderService"></property>
		<property name="sysUserService" ref="sysUserService"></property>

	</bean>
	<bean id="buyerOperationService" class="com.peanutbox.service.impl.B_BuyerOperationServiceImpl">
		<property name="sysUserService" ref="sysUserService"></property>
		<property name="serviceOrderService" ref="serviceOrderService"></property>
		<property name="smartBoxCellService" ref="smartBoxCellService"></property>
	</bean>
	<bean id="serviceOrderService" class="com.peanutbox.service.impl.D_ServiceOrderServiceImpl">
		<property name="serviceOrderDao" ref="serviceOrderDao"></property>
	</bean>
	<bean id="sysUserService" class="com.peanutbox.service.impl.D_SysUserServiceImpl">
		<property name="sysUserDao" ref="sysUserDao"></property>
	</bean> -->
	<bean id="CollectionService" class="com.travel.service.impl.CollectionServiceImpl">
		<property name="CollectionDao" ref="CollectionDao"/>
	</bean>
	<bean id="CommentService" class="com.travel.service.impl.CommentServiceImpl">
		<property name="CommentDao" ref="CommentDao"/>
	</bean>
	<bean id="CouponService" class="com.travel.service.impl.CouponServiceImpl">
		<property name="CouponDao" ref="CouponDao"/>
	</bean>
	<bean id="DepartureDateService" class="com.travel.service.impl.DepartureDateServiceImpl">
		<property name="DepartureDateDao" ref="DepartureDateDao"/>
	</bean>
	<bean id="HelpService" class="com.travel.service.impl.HelpServiceImpl">
		<property name="HelpDao" ref="HelpDao"/>
	</bean>
	<bean id="HotelService" class="com.travel.service.impl.HotelServiceImpl">
		<property name="HotelDao" ref="HotelDao"/>
	</bean>
	<bean id="OrderService" class="com.travel.service.impl.OrderServiceImpl">
		<property name="OrderDao" ref="OrderDao"/>
	</bean>
	<bean id="PictureService" class="com.travel.service.impl.PictureServiceImpl">
		<property name="PictureDao" ref="PictureDao"/>
	</bean>
	<bean id="routeService" class="com.travel.service.impl.RouteServiceImpl">
		<property name="RouteDao" ref= "routeDao"/>
	</bean>
	<bean id="TagService" class="com.travel.service.impl.TagServiceImpl">
		<property name="TagDao" ref="TagDao"/>
	</bean>
	<bean id="ThemeService" class="com.travel.service.impl.ThemeServiceImpl">
		<property name="ThemeDao" ref="ThemeDao"/>
	</bean>
	<bean id="TouristService" class="com.travel.service.impl.TouristServiceImpl">
		<property name="TouristDao" ref="TouristDao"/>
	</bean>
	<bean id="TravelNoteService" class="com.travel.service.impl.TravelNoteServiceImpl">
		<property name="TravelNoteDao" ref="TravelNoteDao"/>
	</bean>
	<bean id="UserService" class="com.travel.service.impl.UserServiceImpl">
		<property name="UserDao" ref="UserDao"/>
	</bean>
	
</beans>