<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.bean.Order">
	<insert id="addOrder" parameterType="Order" useGeneratedKeys="true"
		keyProperty="id">
		insert into travel.order(
		type,
		user_id,
		product_id,
		coupon_id,
		description,
		status,
		status_msg,
		discount,
		price,
		num,
		order_from,
		create_time,
		update_time,
		oid,
		name,
		start_time,
		end_time)
		values(
		#{type},#{userId},#{productId},#{couponId},#{description},#{status},#{statusMsg},#{discount},#{price},#{num},#{orderFrom},
		#{createTime},#{updateTime},#{oid},#{name},#{startTime},#{endTime})
	</insert>

	<select id="getOrderById" parameterType="int" resultMap="OrderResultMap">
		select *
		from university_travel.order o where o.id = #{id}
	</select>
	<select id="getOrdersByUserId" parameterType="int" resultMap="OrderResultMap">
		select * from university_travel.order o where o.user_id = #{userId} order by
		o.update_time desc
	</select>
	<select id="getOrdersByUserIdAndStatus" parameterType="map"
		resultMap="OrderResultMap">
		select * from travel.order o where o.user_id = #{userId} and o.type = #{type} and
		o.status = #{status} order by o.update_time desc
	</select>
	<update id="updateOrderStatus" parameterType="map">
		update university_travel.order o set o.status = #{status} and update_time = sysdate() where o.id = #{id}
	</update>
	
	<update id="updateOrder" parameterType="Order">
		update university_travel.order o 
		<set>
			update_time = sysdate()
			<if test="category!=null">and o.category = #{category}</if>
			<if test="description!=null">and o.description=#{description}</if>
			<if test="discount!=null">and o.discount =#{discount}</if>
			<if test="price!=null">and o.price = #{price}</if>
			<if test="stateMsg!=null">and o.state_msg =#{stateMsg}</if>
			<if test="name!=null">and o.name=#{name}</if>
			<if test="status!=null">and o.status = #{status}</if>
		</set>where o.id = #{id}
	</update>



	




	<resultMap id="OrderResultMap" type="Order">
		<id property="id" column="id" />
		<result property="type" column="type" />
		<result property="userId" column="user_id" />
		<result property="productId" column="product_id" />
		<result property="couponId" column="coupon_id" />
		<result property="description" column="description" />
		<result property="status" column="status" />
		<result property="statusMsg" column="status_msg" />
		<result property="discount" column="discount" />
		<result property="price" column="price" />
		<result property="num" column="num"/>
		<result property="createTime" column="create_time" />
		<result property="updateTime" column="update_time" />
		<result property="orderFrom" column="order_from" />
		<result property="name" column="name" />
		<result property="oid" column="oid" />
		<result property="startTime" column="start_time" />
		<result property="endTime" column="end_time" />
	</resultMap>


</mapper>
