<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.travel.bean.RouteDescription">
	<insert id="addRouteDescription" parameterType="RouteDescription" useGeneratedKeys="true"
		keyProperty="id">
		insert into route_description (
		route_id,
		arrange_info,
		price_info,
		transport_info,
		book_info,
		hotel_info,
		refund_info,
		tip
		)
		values
		(#{routeId},#{arrangeInfo},#{priceInfo},#{transportInfo},#{BookInfo},#{HotelInfo},
		#{refundInfo},#{tip})
	</insert>
	<select id="getRouteDescriptionByRouteId" parameterType="int" resultMap="RouteDescriptionMapper">
		select * from route_description where route_id =#{routeId}
	</select>
	<update id="updateRouteDescription">
		update
		route_description
		<set>
			<if test="calendar!=null">and calendar = #{calendar}</if>
			<if test="calendar!=null">and calendar = #{calendar}</if>
			<if test="calendar!=null">and calendar = #{calendar}</if>
			<if test="calendar!=null">and calendar = #{calendar}</if>
			<if test="calendar!=null">and calendar = #{calendar}</if>
		</set>
		where  id =#{id} and route_id =#{routeID}
	</update>
	<delete id="deleteRouteDescription">
	delete from route_description where id =#{id}
	</delete>
	<resultMap type="RouteDescription" id="RouteDescriptionMapper">
		<id column="id" property="id"/>
		<result column="route_id" property="routeId "/>
		<result column="arrange_info" property="arrangeInfo"/>
		<result column="price_info" property="priceInfo"/>
		<result column="transport_info" property="transportInfo"/>
		<result column="book_info" property="bookInfo"/>
		<result column="hotel_info" property="hotelInfo"/>
		<result column="refund_info" property="refundInfo"/>
		<result column="tip" property="tip"/>
	</resultMap>
</mapper>