<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.bean.Ticket">

	<insert id="addTicket" parameterType="Ticket" useGeneratedKeys="true"
		keyProperty="id">
		insert into ticket ( 	
		name,
		type,
		picture_path,
		status,
		description,
		create_time,
		update_time,
		theme_id,
		price,
		location,
		indexs
		)
		values
		(#{name},#{type},#{picturePath},#{status},#{description},
		#{createTime},#{updateTime},#{themeId},#{price},#{location},#{indexs}) 
	</insert>
	<select id="getTicketAll"  resultMap="TicketResultMap">
		select * from ticket
	</select>
	<select id="getTicketById"  parameterType="int" resultMap="TicketResultMap">
		select * from ticket r where r.id=#{id}
	</select>
	<select id="getTicketByName"  parameterType="String" resultMap="TicketResultMap">
		select * from Ticket r where r.name=#{name}
	</select>
	
	<select id="getTicketsByStatus"  parameterType="int" resultMap="TicketResultMap">
		select * from Ticket r where r.status = #{status} order by r.create_time desc 
	</select>
	<select id="getTicketsByCategory"  parameterType="String" resultMap="TicketResultMap">
		select * from Ticket r where r.category = #{category} order by r.create_time desc
	</select>
	<select id="searchTickets" parameterType="String" resultMap="TicketResultMap">
		select * from Ticket r where r.name like  '%${name}%'  or r.placeTags like '%${name}%'  order by r.create_time desc
	</select>
	<select id="getTicketsWithPage"  parameterType="map" resultMap="TicketResultMap">
		select * from ticket r
		<where>
			<if test="type!=null">r.type=#{type}</if>
			<if test="location!=null">and r.location = #{location}</if>
			<if test="indexs!=null">and r.indexs like  '%${indexs}%'</if>
		</where> 
		 order by r.create_time desc
	</select>
	<update id="updateTicketById" parameterType="Ticket">
		update
		ticket 
		<set>
			update_time = #{updateTime}
			<if test="name!=null">and name = #{name}</if>
			<if test="description!=null">and description = #{description}</if>
			<if test="type!=null">and type=#{type}</if>
			<if test="picturePath!=null">and picture_path =#{picturePath}</if>
			<if test="price!=null">and price=#{price}</if>
			<if test="status!=null">and status=#{status}</if>
			<if test="location!=null">and location = #{location}</if>
			<if test="indexs!=null">and indexs = #{indexs}</if>
			<if test="themeId!=null">and theme_id = #{themeId}</if>
		</set>
		where  id =#{id}
	</update>
	<delete id="deleteTicketById" parameterType="int">
		delete from ticket where id =#{id}
	</delete>
	
	
	<resultMap id="TicketResultMap" type="Ticket">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="type" column="type"/>
		<result property="picturePath" column="picture_path"/>
		<result property="status" column="status"/>
		<result property="description" column="description"/>
		<result property="createTime" column="create_time"  />
		<result property="updateTime" column="update_time"/>
		<result property="themeId" column="theme_id"/>
		<result property="price" column="price"/>
		<result property="location" column="location"/>
		<result property="indexs" column="indexs"/>
	</resultMap>
	
	
</mapper>
